header{
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

header img{
  object-fit: contain;
  width: 100px;
}

.title{
  padding: 5px;
  height: 88px;
  text-align: center;
  background-color: #8080806e;
}

.form-page{
  display: flex;
}
.form-page form{
  width: 70%;
}
.side-info{
  margin:15px;
  background-color: rgba(136, 170, 173, 0.479);
  padding: 50px;
  width: 30%;
}

.title p:hover{
  cursor: pointer;
  color:white;
}

.student{
  display: flex;
  border-radius: 8px;
  border:2px solid gray;
  margin:15px;
  padding: 10px;
  width: 50%;
}

.delete{
  margin-top:25px;
  color:red;
  margin-left:50%;
  cursor: pointer;
}